<% post.comments.each do |comment| %>
<div class="comments-index">
  <%= comment.member.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <div class="d-flex">
    <%= comment.comment %>
    <% if comment.member == current_member %>
    <div class="comment-delete">
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, data: {confirm: "本当に消しますか？"} %>
    </div>
    <% end %>
  </div>
</div>
<% end %>