/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header li {
   margin-right: 5px;
 }

 footer {
  bottom: 0;
  width: 100%;
 }

 .footer-upper {
   color: black;
   text-align: center;
 }

.footer-lower {
  text-align: center;
}

.favorite1 {
color: red;
font-size:1em;
}

.favorite2 {
color: #6c757d;
font-size:1em;
}

.comments-index {
  background-color: #fff;
  border: none;
}

.comment-delete {
  margin-left: auto;
}

.comment-count {
  color: black;
}

.comment-submit {
  text-align: right;
}

.login {
    font-family: inherit;
    text-align: center;
    color: white;
}

.box-inner {
    width: 400px;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
    border: 2px;
}

.box-email, .box-password, .box-password_confirmation, .box-name {
    margin-bottom: 20px;
    color: white;
}

.d-grid {
    margin-bottom: 20px;
}

p, span {
  color: white;
}

#new {
    background-image: url("e7.PNG");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
}

.signup {
    font-family: inherit;
    text-align: center;
    color: white;
}

#registration {
    background-image: url("e7s.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
}

.newpost {
    font-family: inherit;
    text-align: center;
    color: black;
}

.box-image, .box-location, .box-detail, .box-tag, .box-status, .box-introduction, .box-name, .box-email {
  margin-bottom: 20px;
  color: black;
}

.box-email-login {
  color: white;
  margin-bottom: 20px;
}

.profile-image {
  margin-bottom: 15px;
}

.text-mypage {
  text-align: center;
  margin-top: 20px;
}

.index-mypage {
  text-align: center;
  margin-top: 15px;
  color: black;
  font-size: 20px;
  font-weight: 900;
}

.sort-link {
  margin-bottom: 10px;
}

.sort {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.card-mypage {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.edit-profile-image {
  margin: 20px 0;
}

.unsubscribe {
  color: black;
  font-size: 20px;
  text-align: center;
}

.quit {
  text-align: center;
  font-size: 50px;
  margin: 50px 0;
}

.btn1 {
  text-align: center;
  margin: 50px 0;
}

.card-index {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.taglist {
  color: black;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.tagdetail {
  color: black;
  font-size: 15px;
  text-align: center;
}

.index {
  text-align: center;
  margin: 15px 0;
  font-size: 40px;
}

.sort {
  margin: 10px 0;
  display: inline-block;
}

.keyword {
  color: black;
  text-align: center;
  font-size: 30px;
}

#search {
  width: 306px;
  margin: 10px 0;
}

.show {
  text-align: center;
  margin: 15px 0;
}

.card-show {
  margin-left: 20px;
}

.card-date {
  margin: 10px 0;
  display: flex;
}

.card-location {
  margin-left: 20px;
}

.card-detail {
  margin: 10px 0;
}

.card-edit {
  margin: 5px 0;
}

.card-delete {
  margin-bottom: 5px;
}

.edit {
  text-align: center;
  margin: 15px 0;
}

.form-image {
  margin-left: 150px;
  margin-bottom: 20px;
}

.form-field {
  margin-left: 150px;
  margin-right: 225px;
  margin-bottom: 10px;
}
