<h3 class="notification">通知一覧</h3>
<div class="container">
  <div class="row">
    <div class="notifications">
      <%= link_to destroy_all_notifications_path, method: :delete, class: "btn btn-danger" do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 class="destroy_all">全削除</h7>
      <% end %>
      <% if @notifications.exists? %>
        <div class="members-index">
          <%= render @notifications %>
        </div>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
